:root {
  --pink: #ee809b;
  --red: #9e416b;
  --purple: #ae87bc;
  --blue: #53758e;
  --grey: #C0BEBA;
}

$primary: #ae87bc;
$secondary: #f2f2f2;
$white: #f7f7f7;
$headings-font-family: "Spectral";
$font-family-base: "Karla";

img {
  border-radius: 4px;
}

::placeholder {
  color: #ae3; /* Change the color to your desired color */
}

.fade{
  transition-duration: 5s !important;
}

.custom-btn {
  background-color: white;
  color: black;
  border: none;
  background-color: var(--purple);
  line-height: 42px;
  position: relative;
  border-radius: 0.5rem;
  padding: 0;
  transition: all 0.3s ease;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
}

.custom-btn a, .custom-btn span {
  color: black;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

.custom-btn:before,
.custom-btn:after {
  position: absolute;
  content: "";
  background: var(--purple);
  transition: all 0.3s ease;
  right: 0;
  bottom: 0;
  border-radius: 0.5rem;
}

.custom-btn:before {
  height: 0%;
  width: 2px;
}

.custom-btn:after {
  width: 0%;
  height: 2px;
}

.custom-btn:active{
  box-shadow: inset 0 0 10px rgba(174, 135, 188, 1);
} 

.custom-btn:hover:before {
  height: 100%;
}

.custom-btn:hover:after {
  width: 100%;
}

.custom-btn:hover {
  background: transparent;
}

.custom-btn:hover a, .custom-btn:hover span {
  color: var(--purple);
}

.custom-btn a:before,
.custom-btn a:after,
.custom-btn span:before,
.custom-btn span:after {
  position: absolute;
  content: "";
  background: var(--purple);
  transition: all 0.3s ease;
  left: 0;
  top: 0;
}

.custom-btn a:before, .custom-btn span:before {
  width: 2px;
  height: 0%;
}

.custom-btn a:after, .custom-btn span:after {
  height: 2px;
  width: 0%;
}

.custom-btn a:hover:before, .custom-btn span:hover:before {
  height: 100%;
}

.custom-btn a:hover:after, .custom-btn span:hover:after {
  width: 100%;
}


.logo {
  width: 60px;
  border-radius: 0;
}

.navbar {
  padding: 1rem 7.5rem;
  border-bottom: 1px solid #e0e0e0; /* Border color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow */
}

.linkedin-icon{
  width: 27px;
}

.hero{
  padding: 6rem 7.5rem;
}

.project-hero{
  padding: 11rem 7.5rem;
}

.featured-project,
.testimonials,
.contact-me,
.site-map,
.about-hero,
.about,
.inspiration,
.project-list,
.contact-form,
.project-intro-section,
.project-summary,
.pdf {
  padding: 3rem 7.5rem;
}

.row > .sub-header {
  width: 70% !important;
}

.divider {
  width: 75px !important;
}

.sitemap-link{
  color:#53758e;
  opacity: 70%;
  text-decoration: none;
}

.sitemap-link:hover{
  opacity: 100%;
}

.sitemap-link.active{
  opacity: 100%;
}

.featured-project-img,
.contact-image {
  width: 30vh;
  display: block;
  margin: 0 auto;
}

.banner {
  width: 100%;
}

.banner img {
  width: 100%;
  height: auto; /* Ensures the image maintains its aspect ratio */
}

.project-card {
  max-width: 350px;
  background-color:#ededed;
  border-radius: 8px;
}

.project-number {
  width: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  font-size: 4rem;
  border: 2px solid black;
}

.project-pdf {
  width: 75%;
  display: flex;
  margin: auto;
  margin-bottom: 3rem;
  height: 75rem;
}

@media screen and (max-width: 768px) {
  .hero,
  .featured-project,
.testimonials,
.contact-me,
.site-map,
.about-hero,
.about,
.inspiration,
.project-hero,
.project-list,
.contact-form,
.project-intro-section,
.project-summary,
.pdf {
    padding: 4.5rem 1.5rem;
  }
  .row > .sub-header {
    width: 60% !important;
  }
}

@media screen and (max-width: 576px) {
  .divider {
    width: 55px !important;
  }
  
  .navbar {
    padding: 0.5rem;
  }

  .featured-project,
  .testimonials,
  .contact-me,
  .site-map,
  .about-hero,
  .about,
  .inspiration,
  .project-hero,
  .project-list,
  .contact-form,
  .project-intro-section,
  .project-summary,
  .pdf {
    padding: 2rem 0.75rem;
  }

  .btn-large {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
  }
}


// Required
@import "../../node_modules/bootstrap/scss/bootstrap"