# Node.js
node_modules/

# Logs
logs/
*.log

# Dependency directories
pids/
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Testing
coverage/

# Compiled binary addons (like node-sass)
/build/

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# VS Code
.vscode/

# sass
.sass-cache/
public/scss/.sass-cache/